
.homepageContainer{
    margin-top: 4rem;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    z-index: 4;
}

.contentsContainer{
    position: relative;
    z-index: 4;
    width: 100%;
}

.subredditsContainer, .subredditsContainerActive{
    position: relative;
    z-index: 5;
}

@media only screen and (max-width: 769px){
    .homepageContainer{
        position: relative;
        margin-top: 4rem;
        display: block;
        overflow-y: auto;
       /* scrollbar-width: none; /* Hide the scrollbar 
        -ms-overflow-style: none; */
    }
    .subredditsContainer{
        position: fixed;
        top: 4rem;
        width: fit-content;
        height: 100vh;
        overflow-x: hidden;
        overflow-y: hidden;
        transform: translateX(-115%);
        transition: transform 0.7s ease-in-out;
        /* scrollbar-width: none;  /* Hide the scrollbar */
        /* -ms-overflow-style: none; /* For Internet Explorer */
        /* margin-top: 4rem;
        margin-bottom: 4rem; */
        z-index: 5;
    }
    .subredditsContainerActive{
        position: fixed;
        top: 4rem;
        width: fit-content;
        height: 100vh;
        overflow-x: hidden;
        overflow-y: hidden;
        transform: translateX(0);
        transition: transform 0.7s ease-in-out;
    }
    .contentsContainer{
        position: relative;
        z-index: 4;
    }
}

