

.postContainer{
    width: fit-content;
    height: fit-content;
    background-color: white;
    box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.748);
    margin-bottom: 1.4rem;
    padding: 0.9rem;
}

.postContainerDark{
    width: fit-content;
    height: fit-content;
    background-color: #5d5d5d;
    box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.748);
    margin-bottom: 1.4rem;
    padding: 0.9rem;
}

.postContainer h2{
    text-align: justify;
    padding: 1rem 0.6rem;
    font-size: 1rem;
    line-height: 1.4;
    font-weight: 800;
}

.postContainerDark h2{
    text-align: justify;
    padding: 1rem 0.6rem;
    font-size: 1rem;
    line-height: 1.4;
    font-weight: 800;
    color: white;
}

.upperPost{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}

.votesSection{
    width: 10%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.votesMeter{
    font-size: 1rem;
    font-weight: 800;
    margin: 0.4rem;
}

.mainPostContent{
    height: 100%;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.postImage{
    width: 90%;
    margin: auto;
    object-fit: contain;
    border-radius: 0.2rem;
}

.upvoteBTN, .upvoteBTNDark{
    width: fit-content;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: transparent;
    border: none;
    padding: 0.6rem;
    border-radius: 0.4rem;
}

.upvoteBTN:hover{
    background-color: rgb(181, 255, 181);
}
.upvoteBTNDark:hover{
    background-color: rgb(47, 87, 47); 
}

.downvoteBTN, .downvoteBTNDark{
    width: fit-content;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: transparent;
    border: none;
    padding: 0.6rem;
    border-radius: 0.4rem;
}

.downvoteBTN:hover{
    background-color: rgb(255, 189, 189);
}

.downvoteBTNDark:hover{
    background-color: rgb(110, 47, 47);
}

.creatorSection{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5% 5%;
}

.postOwner, .creationTime, .commentsHolder, .postOwnerDark, .creationTimeDark, .commentsHolderDark{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.postOwner img{
    width: 1rem;
    height: 1rem;
    margin-right: 0.4rem;
}
.postOwnerDark img{
    width: 1rem;
    height: 1rem;
    margin-right: 0.4rem;
}
.postOwner span{
    font-size: 0.8rem;
    color: blue;
    font-weight: 800;
}
.postOwnerDark span {
    font-size: 0.8rem;
    color: rgb(213, 213, 255);
    font-weight: 800; 
}
.creationTime{
    font-size: 0.8rem;
    color: #1f1f1f;
    font-weight: 800;
}

.creationTimeDark{
    font-size: 0.8rem;
    color: #f0f0f0;
    font-weight: 800;
}

.commentsHolder, .commentsHolderDark{
    cursor: pointer;
    padding: 0.6rem;
    border-radius: 0.5rem;
}
.commentsHolderDark:hover{
    background-color: #a7a5a5;
}

.commentsHolder:hover{
    background-color: #cfcfcf;
}
.commentsHolder:active{
    background-color: rgb(170, 170, 253);
}
.commentsHolderDark:active{
    background-color: rgb(102, 102, 128);;
}
.commentsHolder img{
    width: 1rem;
    height: 1rem;
}
.commentsHolderDark img{
    width: 1rem;
    height: 1rem;
    filter: invert(100%);
}
.commentsHolder span{
    font-size: 1rem;
    color: #1f1f1f;
    font-weight: 800;
    margin-left: 0.4rem;
}
.commentsHolderDark span{
    font-size: 1rem;
    color: #f0f0f0;
    font-weight: 800;
    margin-left: 0.4rem;
}

.votesSection2{
    display: none;
}

@media only screen and (min-width: 481px) and (max-width: 769px){
    .postContainer h2{
        text-align: left;
        padding: 0.125rem;
        font-size: 1rem;
        line-height: 1.4;
        font-weight: 800;
    }
    .postContainerDark h2{
        text-align: left;
        padding: 0.125rem;
        font-size: 1rem;
        line-height: 1.4;
        font-weight: 800; 
    }
    .votesSection{
        display: none;
    }
    .mainPostContent{
        width: 100%;
    }
    .votesSection2Container{
        width: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
    .votesSection2{
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.748);
        border-radius: 0.5rem;
        margin: 0.675rem 0;
    }
    .postImage{
        width: 100%;
    }
}

@media only screen and (max-width: 481px){
    .postContainer h2{
        text-align: left;
        padding: 0.125rem;
        font-size: 1rem;
        line-height: 1.4;
        font-weight: 800;
    }
    .postContainerDark h2{
        text-align: left;
        padding: 0.125rem;
        font-size: 1rem;
        line-height: 1.4;
        font-weight: 800;
    }
    .votesSection{
        display: none;
    }
    .mainPostContent{
        width: 100%;
    }
    .votesSection2Container{
        width: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
    .votesSection2{
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.748);
        border-radius: 0.5rem;
        margin: 0.675rem 0;
    }
    .postImage{
        width: 100%;
    }
    .postOwner img{
        display: none;
    }
    .postOwnerDark img{
        display: none;
    }
    .commentsHolder, .commentsHolderDark{
        padding: 0.4rem;
        border-radius: 0.5rem;
    }
}
